{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      {% for item in cart_items %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <span class="badge badge-danger"><strong><i
                class="fas fa-pound-sign"></i>&nbsp;{{ item.product.price | intcomma }}</strong></span></h1>
          <a href="{{ item.product.image.url }}" data-lightbox="{{item.product.image.url }}"><img
              class="prd card-img-top img-fluid" src="{{ item.product.image.url}}"></a>

          <div class="card-body">
            <h3 class="card-text">{{ item.product.product_name}}</h3>
            <p class="card-text">Category: {{ item.product.category}}</p>
            <form method="post" action="{% url 'adjust_cart' item.id %}">
              {% csrf_token %}
              <div class="form-group">
                <div class="input-group">
                    <input class="input-cart text-center" name="quantity" type="number" min="0" max="999" class="form-control" value="{{item.quantity}}" >
                    <button type="submit" class="btn btn-success rounded-0 btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Adjust Quantity</button>
                </div>
            </div>
             </form>
                  </div> 
                </div>
                </div>
      {% endfor %}
      </div>
    </div>
    </div>


      <!--Checkout  -->
  

  <div class="container-fluid border text-center">
    <div class="col-md-12 col-xs-12 mb-4 mt-2">
  <span>Total: <i class="fas fa-pound-sign"></i></span>&nbsp;{{ total }}<br><br>
  <a href="/" class="btn btn-success" role="button"><span><i class="fas fa-check-circle"></i></span>&nbsp;Checkout</a>
    </div>
    </div>    


{% endblock %}