{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}


{% block content %}
<div class="album py-5 bg-light">
  <div class="table-responsive">
    <h3 class="text-center mx-2"><strong>Items in Cart- 15% discount if you buy £80 or more!!!!</strong></h3>
   <div class="container">
     <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
    
    <table class="table">
      <thead class="thead-dark">
        <tr>
         <th scope="col">Product</th>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart_items %}
        <tr>
          <td><img src="{{ item.product.image.url}}" width="40px" height="60px"></td>
          <td>{{ item.product.product_name }}</td>
          <td>{{ item.product.price }}</td>
          <td><form method="post" action="{% url 'adjust_cart' item.id %}">
            {% csrf_token %}
            <div class="form-group">
              <div class="input-group">
                  <input class="input-cart text-center" name="quantity" type="number" min="0" max="999" class="form-control" value="{{item.quantity}}" >
                  <button type="submit" class="btn btn-success rounded-0 btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Qty</button>
              </div>
          </div>
           </form>
          </td>
        </tr>
        {% endfor %}
       </tbody>
    </table>
  </div>
</div>
</div>
</div>
</div>
  

      <!--Checkout  -->
  
  <h3 class="text-center"><strong>Checkout</strong></h3>
  <div class="container-fluid border text-center">
    <div class="col-md-12 col-xs-12 mb-4 mt-2">
  <span>Total: <i class="fas fa-pound-sign"></i></span>&nbsp;{{ total }}<br><br>
  <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span><i class="fas fa-check-circle"></i></span>&nbsp;Checkout</a>
    </div>
    </div>    


{% endblock %}