{% extends 'base.html' %}
{% block page_title %} Cart {% endblock %}
{% load static %}
{% load bootstrap_tags %}

<!-- Breadcrumb -->

<section id="bcrumb">
  <div class="container-fluid px-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="fas fa-home"></i>&nbsp;Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cart</li>
      </ol>
    </nav>
  </div>
</section>


{% block content %}
<div class="album py-5 bg-light">
  <div class="table-responsive">
    <h3 class="text-center mx-2"><strong>Items in Cart- £20 off if you buy £80 or more!!!!</strong></h3>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

          <table class="table checkout-table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart_items %}
              <tr>
                <td><a href="{{ item.product.image.url }}" data-lightbox="{{item.product.image.url }}"><img
                      src="{{ item.product.image.url}}" width="40px" height="60px"></a></td>
                <td>{{ item.product.product_name }}</td>
                <td>{{ item.product.price }}</td>
                <td>
                  <form method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                      <div class="input-group">
                        <input class="input-cart text-center" name="quantity" type="number" min="0" max="999"
                          class="form-control" value="{{item.quantity}}">
                        <button type="submit" class="btn btn-success rounded-0 btn-sm"><span
                            class="glyphicon glyphicon-edit" aria-hidden="true"></span>Qty</button>
                      </div>
                    </div>
                  </form>
                  {% endfor %}
                  <div class="checkout">
                  <span>Total: <i class="fas fa-pound-sign"></i>&nbsp;{{sub_total}}</span>                  
                  <br><br>
                  <a href="{% url 'checkout' %}" class="btn btn-success btn-xs mb-5" role="button"><span><i
                        class="fas fa-check-circle"></i></span>&nbsp;Checkout</a>
                  </div>     
                  </div>
                </td>
               </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
</div>


{% endblock %}