{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark  sticky-top">

    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/logo.png'%}" alt="logo"><h6 class="d-inline align-middle">&nbsp;Pranita's T-shirt Shop</h6></a>
              
    {% if user.is_authenticated %}
    <span class="username">User:&nbsp;{{user.username}}</span>   
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
         <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <ul class="navbar-nav ml-auto">

<!-- (Active link code only!) Code adapated from Brad Traversy - Python Django to Dev Course (Nov 2018) -->
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                {% if '/' == request.path %}
                <li class="nav-item active mr-3">
                    {% else %}
                <li class="nav-item mr-3">
                    {% endif %}
                    <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i>&nbsp;Home</a>
                </li>
                  {% if user.is_authenticated %}
                  {% if 'logout' in request.path %}
                <li class="nav-item active mr-3">
                    {% else %}
                <li class="nav-item mr-3">
                    {% endif %}
                    <a class="nav-link" href="{% url 'logout' %}"> <i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>
                </li>
                 {% else%}

                {% if 'register' in request.path %}
                <li class="nav-item active mr-3">
                    {% else %}
                <li class="nav-item mr-3">
                    {% endif %}
                    <a class="nav-link" href="{% url 'register'%}"><i class="fas fa-user-plus"></i>&nbsp;Register</a>
                </li>


                {% if 'login' in request.path %}
                <li class="nav-item active mr-3">
                    {% else %}
                <li class="nav-item mr-3">
                    {% endif %}
                    <a class="nav-link" href="{% url 'login'%}"><i class="fas fa-sign-in-alt"></i>&nbsp;Login</a>
                </li>
                {% endif %}

                
                {% if 'feedback' in request.path %}
                <li class="nav-item active mr-3">
                    {% else %}
                <li class="nav-item mr-3">
                    {% endif %}
                    <a class="nav-link" href="#">Feedback</a>
                </li>

                 
                {% if 'contact' in request.path %}
                <li class="nav-item active mr-3">
                    {% else %}
                <li class="nav-item mr-3">
                    {% endif %}
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>

                {% if 'cart' in request.path %}
                <li class="nav-item active mr-3">
                    {% else %}
                <li class="nav-item mr-3">
                    {% endif %}
                    <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i>&nbsp;Cart</a>
                </li>

                
              

             </ul>
        </div>
    </div>
</nav>
{% if messages %}
<div class = "container-fluid">
    <div class="row">
        <div class="col-md 12 col-xs-12 text-center alert alert-success alert-dismissible mb-0" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>    
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
</div>
</div>
{% endif %}

<!-- End of Adapted Code -->