{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark  sticky-top">

    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/logo.png'%}" alt="logo"><h6 class="d-inline align-middle">&nbsp;Pranita's T-shirt Shop</h6></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
         <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <ul class="navbar-nav ml-auto">

<!-- Code adapated from Brad Traversy - Python Django to Dev Course (Nov 2018) -->
            {% if '/' == request.path %}
            <li class="nav-item active mr-3">
                {% else %}
            <li class="nav-item mr-3">
                {% endif %}
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>

            {% if 'register' == request.path %}
            <li class="nav-item active mr-3">
                {% else %}
            <li class="nav-item mr-3">
                {% endif %}
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>

            {% if 'login' == request.path %}
            <li class="nav-item active mr-3">
                {% else %}
            <li class="nav-item mr-3">
                {% endif %}
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>

            {% if 'feedback' == request.path %}
            <li class="nav-item active mr-3">
                {% else %}
            <li class="nav-item mr-3">
                {% endif %}
                <a class="nav-link" href="#">Feedback</a>
            </li>

            {% if 'contact' == request.path %}
            <li class="nav-item active mr-3">
                {% else %}
            <li class="nav-item mr-3">
                {% endif %}
                <a class="nav-link" href="#">Contact</a>
            </li>          
           </ul>
     </div>
</nav>

<!-- End of Adapted Code -->