{% extends 'base.html' %}
{% block page_title %} Login {% endblock %}
{% load bootstrap_tags %}
{% load static %}

{% block content %}

<!-- Breadcrumb -->

<section id="bcrumb">
    <div class="container-fluid px-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="fas fa-home"></i>&nbsp;Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
          </nav>
    </div>
</section>


<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card my-4">
                    <div class="card-heading bg-dark text-white">
                        <h4 class= "text-center p-3">Login</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" class="main-form">
                            {% csrf_token %} {{ login_form | as_bootstrap }}
                            <button type="button submit" class="btn btn-outline-primary login">Login</button>                                                       
                            <br>
                            <br>
                            <p class="password">If you have forgotten your password please<a href="{% url 'password_reset' %}"> Reset Password</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}