{% extends 'base.html'%}
{% load boostrap_tags %}
{% block page_title %} | Forgotten Password {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <!-- Reset Form -->
            <form method="POST" class="form reset-form">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="mb-2">Please enter your email address: </legend>
                    {{ form | as_bootstrap }} 
                </fieldset>
                <button type="submit" class="btn btn-login">Reset password</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}