{% extends 'base.html'%}
{% load bootstrap_tags %}
{% block page_title %}  Password Confirmation {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <!-- Confirmation Form -->
            <form action="submit" method ="POST">
                {% csrf_token%}
                <fieldset class="form-group m-3">
                    <p class="lead mt-2">Please enter a new password: </p>
                    {{ form | as_bootstrap }} 
                </fieldset>
                <button type="submit" class="btn btn-primary mb-2">Reset password</button>
            </form>            
        </div>
    </div>
</div>

{% endblock %}