{% extends 'base.html'%}
{% load bootstrap_tags %}
{% block page_title %} Forgotten Password {% endblock %}
{% block content %}
<section id="reset">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <!-- Reset Form -->
            <form method="POST" class="form reset-form">
                {% csrf_token %}
                {{ form.email.errors }}
                <fieldset class="form-group">
                    <p class=" lead mt-3 ">Please enter your email address: </p>
                    {{ form | as_bootstrap }}
                                     
                 <fieldset>
                <button type ="submit" class="btn btn-primary">Reset Password</button>    
            </form>
        </div>
    </div>
</div>
</section>

{% endblock %}