{% extends 'base.html'%}
{% load bootstrap_tags %}
{% block page_title %} Password Confirmation {% endblock %}
{% block content %}



<section id="reset">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card my-4">
                    <div class="card-heading bg-dark text-white">
                        <h4 class="text-center p-3">New Password</h4>
                    </div>
                    <div class="card-body">
                        <!-- Confirmation Form -->
                        <form method="POST">
                            {% csrf_token%}
                            <fieldset class="form-group m-3">
                                <p class="lead mt-2">Please enter a new password: </p>
                                {{ form | as_bootstrap }}
                            </fieldset>
                            <button type="submit" class="btn btn-primary mb-2">Reset password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}