{% extends 'base.html' %}
{% block page_title %} | Register{% endblock %}
{% load bootstrap_tags %}
{% load static%}

{% block content %}
<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card my-4">
                    <div class="card-heading bg-dark text-white">
                        <h4 class= "text-center p-3">Register</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ registration_form | as_bootstrap }}
                            <input tupe ="submit" value="Register" class="btn btn-primary">
                            </form>
                        <br>
                        <p class= "password">Already Registered? Click <a href="{% url 'login' %}">here.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}