{% extends 'base.html'%}
{% load static %}
{% block content%}
<section>
    <!-- search fields -->
</section>

{% for product in products %}

<section id="products py-3">
    <div class="container">
        <div class="row d-flex justify-content-start">
         <div class="col-md-4 col-xs-12 my-4 align-items-center justify-content-center ">
            <div class="card">
                <img class="card-img-top"src="{{product.image.url}}"  alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">{{ product.product_name}}</h4>
                  <p class="card-text">Price: <i class="fas fa-pound-sign"></i> {{ product.price }}</p>
                  <p class="card-text"> Gender: {{ product.category }}</p>
                  <div class="input-group">
                      <input class="add-checkout text-center" name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Qty">
                       <span class="input-btn">
                           <button class = "btn btn-dark rounded-0 btn-sm" type="submit">Add to Cart</button>
                       </span>
                    </div>
                </div>
              </div>
         </div>
        </div>
    </div>
</section>
{% endfor %}




{% endblock %}
