{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block content %}

<section id="contact">
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 mx-auto">
                <div class="card form-body my-4">
                    <div class="card-heading bg-dark text-white">
                        <h4 class= "text-center p-3">Contact</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                           {{ contact_form| as_bootstrap }}                                                              
                            <button type= "submit" class= "btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}