<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css'%}">
    <title>Pranita's T-shirt Shop{% block title %}{% endblock %}</title>
</head>
<body>

     <!-- Top Bar -->
     {% include 'partials/_topbar.html' %}
     
     <!-- Navbars
     {% include 'partials/_navbar.html' %} -->

    <!-- Main Content -->
    {% block content %}
    {% end block %}

     <!-- Footer

     {% include 'partials/_footer.html' %} -->


    
</body>
</html>