{% extends 'base.html' %}
{% block page_title %} Feedback Detail {% endblock %}
{% load bootstrap_tags %}
{% load static %}
{% load humanize %}


{% block content %}

<!-- Feedback Detail -->

<section id="feedback">
    <div class="container">
        <div class="row">
            <div class="col-md 12 col-xs-12 mx-auto">
                <h3 class="text-center mt-3">Feedback ..</h3>
                <div class="card e">
                     <div class="card-header bg-dark text-white">{{post.product_name}}</div>
                     <div class="card-body">
                      <h5 class="card-title">Posted by: {{post.author}}</h5>
                      <p class="card-text product-post">{{ post.published_date|timesince}}</p>
                      <p class="card-text product-post">{{ post.user_feedback}}</p> 
                      <p class="card-text product-post">Rating: {{ post.ratings}} stars</p> 
                      <a href="{% url 'get_feedback'  %}" class="btn btn-primary">Feedback</a>&nbsp;&nbsp;                                 
                      <a href="{% url 'edit_feedback' post.id %}" class="btn btn-warning">Edit</a>&nbsp;&nbsp;
                      <a href="{% url 'delete_feedback' post.id %}" class="btn btn-danger">Delete</a>                                    
                    </div>
                   </div>
              </div>
        </div>
    </div>
</section> 

<!-- End of Feedback Detail -->

{% endblock %}