{% extends 'base.html' %}
{% block page_title %} Feedback Detail {% endblock %}
{% load bootstrap_tags %}
{% load static %}
{% load humanize %}


{% block content %}

<section id="feedback">
    <div class="container">
        <div class="row">
            <div class="col-md 12 col-xs-12 mx-auto">
                <h3 class="text-center mt-3">Feedback ..</h3>
                <div class="card e">
                     <div class="card-header bg-dark text-white">{{post.product_name}}</div>
                     <div class="card-body">
                      <h5 class="card-title">Posted by: {{post.author}}</h5>
                      <p class="card-text product-post">{{ post.published_date|timesince}}</p>
                      <p class="card-text product-post">{{ post.user_feedback}}</p> 
                      <fieldset class="starability-basic" data-range="{{post.ratings}}">
                        <legend>Rating:</legend>
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="rating" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="rating" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="rating" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="rating" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="rating" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                      <a href="{% url 'get_feedback'  %}" class="btn btn-primary">Feedback</a>&nbsp;&nbsp;                                 
                      <a href="{% url 'edit_feedback' post.id %}" class="btn btn-warning">Edit</a>&nbsp;&nbsp;
                      <a href="{% url 'delete_feedback' post.id %}" class="btn btn-danger">Delete</a>                                    
                    </div>
                   </div>
              </div>
        </div>
    </div>
</section> 

{% endblock %}